
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 24% 14%;
    --foreground: 0 0% 100%;

    --card: 218 24% 17%;
    --card-foreground: 0 0% 100%;

    --popover: 218 24% 17%;
    --popover-foreground: 0 0% 100%;

    --primary: 258 76% 74%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217 10% 18%;
    --secondary-foreground: 0 0% 100%;

    --muted: 217 10% 18%;
    --muted-foreground: 220 10% 58%;

    --accent: 258 29% 54%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 12% 24%;
    --input: 220 12% 24%;
    --ring: 258 76% 74%;

    --radius: 0.5rem;

    --sidebar-background: 218 24% 17%;

    --sidebar-foreground: 0 0% 100%;

    --sidebar-primary: 258 76% 74%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 217 10% 18%;

    --sidebar-accent-foreground: 0 0% 100%;

    --sidebar-border: 220 12% 24%;

    --sidebar-ring: 258 76% 74%;
  }

  .dark {
    --background: 220 24% 14%;
    --foreground: 0 0% 100%;

    --card: 218 24% 17%;
    --card-foreground: 0 0% 100%;

    --popover: 218 24% 17%;
    --popover-foreground: 0 0% 100%;

    --primary: 258 76% 74%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217 10% 18%;
    --secondary-foreground: 0 0% 98%;

    --muted: 217 10% 18%;
    --muted-foreground: 220 10% 58%;

    --accent: 258 29% 54%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 12% 24%;
    --input: 220 12% 24%;
    --ring: 258 76% 74%;
    --sidebar-background: 218 24% 17%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 258 76% 74%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 10% 18%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 12% 24%;
    --sidebar-ring: 258 76% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

